---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    FGV EMAp student with an interest in business, data science, product
    management, and growth. Seeking corporate experience.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="3rd semester, Data Science and Artificial Intelligence"
      subtitle="2023 to 2026 at Fundação Getúlio Vargas, Rio de Janeiro, Brazil"
      description="Scholar of the Talent Program at the Center for the Development of
      Mathematics and Science."
    />
    <TimeLineElement
      title="High School, ITA/IME"
      subtitle="2019 to 2021 at Colégio Ari de Sá Cavalcante, Fortaleza, Brazil"
      description="Merit-based full scholarship (food, accommodation, flights, tuition)."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Founder"
      subtitle="From 2021 to now at Desmoq Educação, Rio de Janeiro, Brazil"
    >
      I developed an all-in-one ed-tech tool for schools and students in
      scientific olympiads. Key strengths include leadership, product
      development, and stakeholder relationships. [desmoq.com]
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Prizes and Awards</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>[2x GOLD] Brazilian Physics Olympiad (2019, 2020)</li>
    <li>
      [3x GOLD] Brazilian Mathematics Olympiad for Public School (2016-2018)
    </li>
    <li>[3x GOLD] National Science Olympiad (2019-2021)</li>
    <li>[BRONZE] Brazilian Economics Olympiad (2022)</li>
    <li>[SILVAR] International Aplied Physics Olympiad (2021)</li>
    <li>20+ medals in Science Olympiads</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Problem Solving</li>
    <li>Agile and Lean</li>
    <li>Leadership</li>
    <li>Excel</li>
    <li>Data Analysis</li>
    <li>Databases & SQL</li>
    <li>Python</li>
    <li>Machine Learning</li>
  </ul>
</BaseLayout>
